/* Width of carousel */
#window, #slide-container {
    margin: auto;
    width: 400px;
}

/* Height of carousel */
#slide-container {
   height: 400px;
   overflow: hidden; 
   position: relative; 
}

.slide {
    width: 100%;
   min-height: 200px;
   object-fit: cover; 
}

.slides {
   display: block; 
}

/* Style of arrows */
.arrow {
   color: white; 
   font-size: 26px; 
   position: absolute; 
   top: 50%; 
   transform: translate(0%, -50%); 
   padding: 16px; 
   background-color: rgba(0,0,0,0); 
   transition: background-color 0.3s ease; 
}

.arrow:hover {
   cursor: pointer;
   background-color: var(--transparent-grey); 
}

#next {
   left: 100%; 
   transform: translate(-100%, -50%); 
   border-radius: 4px 0px 0px 4px; 
}

#previous {
   border-radius: 0px 4px 4px 0px; 
}

#text-bar {
   background-color: #4a4a4ab8;
   width: 100%;
   height: 36px; 
   position: absolute; 
   top: 100%;
   transform: translate(0%, -100%);  
   text-align: center; 
   height: 36px;
 line-height: 36px;
}

#place {
   padding: 0px;
   margin: 0px; 
   color: white;
   position: relative;
   display: inline-block;
}

#dotsContainer {
   width: 100%;
   height: 20px; 
   text-align: center; 
}

.dots {
   width: 8px;
   height: 8px;
   background-color: rgba(0,0,0,0.2); 
   border-radius: 100%; 
   display: none; 
   margin: 8px 2px; 
}

.dots:hover {
   cursor: pointer; 
   background-color: rgba(0,0,0,0.4);
}

.activeDot {
   background-color: rgba(0,0,0,0.6); 
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #window, #slide-container {
        margin: auto;
        width:100%;
    }
    #text-bar {
        min-height: 72px;
    }
  }